<?php
/**
 * HuntersConsult.
 */
?>

<?php if (!$block->isLoginuser() && $block->isEnable() && !$block->allowPages()): ?>
    <div id="popup-modal" class="block-authentication" style="display: none">

        <div class="tittle">
            <div class="header">
                <img src="<?php echo $this->getViewFileUrl('images/logo.png'); ?>" alt="logo"/>
            </div>
        </div>
        
        <div class="first-step">
            <p class="subtitle">Personalized Gummy Vitamin packs are just one click away.</p>
            <form class="form form-login"
                  action="<?php echo $block->getUrl('popup/ajax/login', ['_secure' => true]) ?>"
                  method="post"
                  id="customer-popup-check-customer-form"
                  data-mage-init='{"validation":{}}'>
                <input name="username" id="customer-email" type="email" placeholder="Email Address">
                <div class="error-username"></div>
                <button type="submit" class="action action-login secondary submit primary" name="send" id="send2-shop-now">
                    <span>TAKE MY SURVEY</span>
                </button>
            </form>
        </div>
        <div class="second-step" style="display: none">
            <form class="form form-login"
                  action="<?php echo $block->getUrl('customer/ajax/login', ['_secure' => true]) ?>"
                  method="post"
                  id="customer-popup-login-form"
                  data-mage-init='{"validation":{}}'>
                <?php echo $block->getBlockHtml('formkey'); ?>
                <input type="hidden" name="redirect_url" value="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>" />
                <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                    <div class="field note">If you have an account, sign in with your email address.</div>
                    <div class="field email required">
                        <label class="label" for="email"><span>Email</span></label>
                        <div class="control">
                            <input name="username" value="" autocomplete="off"
                                   aria-autocomplete="list" id="email-login" type="email"
                                   class="input-text" title="Email"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field password required">
                        <label for="pass" class="label"><span>Password</span></label>
                        <div class="control">
                            <input name="password" type="password" autocomplete="off"
                                   aria-autocomplete="list" class="input-text"
                                   id="pass-login" title="Password"
                                   data-validate="{required:true}" >
                        </div>
                    </div>
                    <div class="messages" id="login-error-message"></div>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button type="submit" class="action login primary" name="send" id="send2-login">
                                <span>Sign In</span>
                            </button>
                        </div>
                        <div class="primary">
                            <a href="javascript:void(0);" class="back-login" style="color: black">Back</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="registration-step" style="display: none">
            <form class="form-create-account"
                  action="<?php echo $block->getUrl('popup/ajax/registration', ['_secure' => true]) ?>"
                  method="post"
                  id="customer-popup-form-register"
                  enctype="multipart/form-data" autocomplete="off"
                  data-mage-init='{"validation":{}}'>
                <?php echo $block->getBlockHtml('formkey'); ?>
                <input type="hidden" name="redirect_url" value="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>" />
                <fieldset class="fieldset create account" data-hasrequired="* Required Fields">
                    <legend class="legend">
                        <span>Sign-in Information</span>
                    </legend><br>
                    <div class="messages" id="registration-error-message"></div>
                    <div class="field required">
                        <label for="popup-email_address" class="label">
                            <span>Email</span>
                        </label>
                        <div class="control">
                            <input type="email" name="customer_email" autocomplete="email" id="popup-email_address"
                                   value="" title="Email" class="input-text"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field required">
                        <label for="popup-first_name" class="label">
                            <span>First Name</span>
                        </label>
                        <div class="control">
                            <input type="text" name="first_name" autocomplete="name" id="popup-first_name"
                                   value=""
                                   title="First Name"
                                   class="input-text">
                        </div>
                    </div>
                    <div class="field required">
                        <label for="popup-last_name" class="label">
                            <span>Last Name</span>
                        </label>
                        <div class="control">
                            <input type="text" name="last_name" autocomplete="name" id="popup-last_name"
                                   value=""
                                   title="Last Name"
                                   class="input-text">
                        </div>
                    </div>
                    <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                        <label for="password" class="label">
                            <span>Password</span>
                        </label>
                        <div class="control">
                            <input type="password" name="customer_password" id="password"
                                   title="Password"
                                   class="input-text"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="field confirmation required">
                        <label for="password-confirmation" class="label">
                            <span>Confirm Password</span>
                        </label>
                        <div class="control">
                            <input type="password" name="password_confirmation"
                                   title="Confirm Password" id="password-confirmation"
                                   class="input-text" data-validate="{required:true, equalTo:'#password'}"
                                   autocomplete="off">
                        </div>
                    </div>
                    <div class="confirm-checkbox">
                        <input type="checkbox" name="confirm" value="" class="input-radio" id="is-agree" checked="checked">
                        <label for="is-agree" style="line-height: 30px;">
                            By providing your email address, you are agreeing to the Church &amp; Dwight Co., Inc, <a  href="<?php echo $block->getUrl('privacy-policy', ['_secure' => true]) ?>" style="color: black">Privacy Policy</a> and <a href="<?php echo $block->getUrl('terms-of-service', ['_secure' => true]) ?>" style="color: black">Terms of Services</a>
                        </label>
                    </div>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action submit primary" title="Create an Account">
                            <span>Create an Account</span>
                        </button>
                    </div>
                    <div class="primary">
                        <a href="javascript:void(0);" class="back-registration" style="color: black">Back</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="forgot-password-step" style="display: none">
            <p class="subtitle">Enter your e-mail</p>
            <form class="form form-forgot-password"
                  action="<?php echo $block->getUrl('popup/ajax/forgotpassword', ['_secure' => true]) ?>"
                  method="post"
                  id="forgot-password-email-form"
                  data-mage-init='{"validation":{}}'>
                <input name="username" id="forgot-password-email" type="email" placeholder="Email Address">
                <div class="error-forgot-email"></div>
                <button type="submit" class="action action-forgot secondary submit primary" name="send" id="send-forgot">
                    <span>Send Password!</span>
                </button>
            </form>
        </div>

        <br><legend class="legend">
        </legend><br>
        <div class="block-container" id="tab-login">
            <div class="block-content" aria-labelledby="block-customer-login-heading">
                <div class="sociallogin-border"></div>
                <div class="social-login-popup"></div>
                <?php echo $this->getLayout()->createBlock("Bss\SocialLogin\Block\SocialLogin")->setTemplate("Bss_SocialLogin::sociallogin.phtml")->toHtml();?>
            </div>
        </div>
        <div class="login-in-here">
            <p>Already have an account? <a href="javascript:void(0);" class="direct-login" style="color: black">Log in here</a></p>
        </div>
        <legend class="legend">
        </legend><br>

        <div class="terms-link" style="padding: 0 20px;">
            <p>By providing your information, you are agreeing to the Church & Dwight Co., Inc, <a href="<?php echo $block->getUrl('privacy-policy', ['_secure' => true]) ?>" style="color: black">Privacy Policy</a> and <a href="<?php echo $block->getUrl('terms-of-service', ['_secure' => true]) ?>"  style="color: black;">Terms of Services</a></p>
        </div>

        <div class="forgot">
            <a href="javascript:void(0);" class="direct-registration" style="color: black">Registration</a>
            <a href="javascript:void(0);" class="direct-login" style="color: black; display: none">Login</a>
            <a href="javascript:void(0);" class="forgot-password" style="color: black">Forgot password?</a>
        </div>
    </div>

    <script type="text/javascript">
        require([
                'jquery'
            ], function($) {

            'use strict';

            var flag = 0;

            $(document).on('click', function (event) {
                if ($(".registration-step").is(":visible") === true)
                    $('.terms-link').hide();
                else
                    $('.terms-link').show();
             });

            $('.direct-registration').on("click", function (event) {
                event.preventDefault();
                $('.forgot-password').hide();
                $('.direct-registration').hide();
                $('.direct-login').show();
                $(".login-in-here").hide();
                $(".login-in-here .direct-login").hide();
                $('.registration-step').show();
                hide_window(flag);
                flag = 2;
            });

            $(".forgot-password").on("click", function (event) {
                event.preventDefault();
                $('.forgot-password-step').show();
                $('.forgot-password').hide();
                $('.direct-login').show();
                $(".login-in-here").hide();
                $(".login-in-here .direct-login").hide();
                hide_window(flag);
                flag = 3;
            });

            $(".direct-login").on("click", function (event) {
                event.preventDefault();
                $('.second-step').show();
                $('.forgot-password').show();
                $('.direct-registration').show();
                $('.direct-login').hide();
                $(".login-in-here").hide();
                $(".login-in-here .direct-login").hide();
                hide_window(flag);
                flag = 1;
            });

            $(".back-registration").on('click', function (event) {
                flag = 0;
                event.preventDefault();
                $('.first-step').show();
                $('.forgot-password').show();
                $(".direct-registration").show();
                $('.registration-step').hide();
                $('.direct-login').hide();
                $(".login-in-here").show();
                $(".login-in-here .direct-login").show();
            });

            $(".back-login").on('click', function (event) {
                flag = 0;
                event.preventDefault();
                $('.second-step').hide();
                $('.first-step').show();
                $(".login-in-here").show();
                $(".login-in-here .direct-login").show();
            });

            $('#send2-shop-now').on('click', function (event) {
                event.preventDefault();
                var email = $.trim($("input[name='username']").val());
                var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;

                if (testEmail.test(email) == false) {
                    $(".error-username").text("Incorrect e-mail address!!!").animate({
                        width: "auto",
                        color: 'red',
                        "font-weight": "bold"
                    }, 5000, function() {
                        $(".error-username").text("");
                    });
                    return false;
                }

                $.ajax({
                    showLoader: true,
                    url: "<?php echo $block->getUrl('popup/ajax/login', ['_secure' => true]) ?>",
                    data: {"email": email},
                    type: "POST",
                    success: function(data) {
                        $('.first-step').hide();
                        if (data.errors === false) {
                            flag = 1;
                            $("input[name='username']").val(email);
                            $('.second-step').show();
                            $(".login-in-here").hide();
                            $(".login-in-here .direct-login").hide();
                        } else {
                            flag = 2;
                            $(".forgot-password").hide();
                            $(".direct-registration").hide();
                            $(".direct-login").show();
                            $(".login-in-here").hide();
                            $(".login-in-here .direct-login").hide();
                            $('.registration-step').show();
                            $('.terms-link').hide();
                            $("input[name='customer_email']").val(email)
                        }
                    },
                    error: function (request, status, error) {
                        alert("ERROR");
                    }
                });
            });

            $('#send-forgot').on('click', function (event) {
                event.preventDefault();
                var email = $.trim($("#forgot-password-email-form input[name='username']").val());
                var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;

                if (testEmail.test(email) === false) {
                    $(".error-forgot-email").text("Incorrect e-mail address!!!").animate({
                        width: "auto",
                        color: 'red',
                        "font-weight": "bold"
                    }, 5000, function() {
                        $(".error-forgot-email").text("");
                    });
                    return false;
                }

                $.ajax({
                    showLoader: true,
                    url: "<?php echo $block->getUrl('popup/ajax/forgotpassword', ['_secure' => true]) ?>",
                    data: {"email": email},
                    type: "POST",
                    success: function(data) {
                        if (data.errors === false) {
                            $(".error-forgot-email").text(data.message).animate({
                                width: "auto",
                                color: 'green',
                                "font-weight": "bold"
                            }, 10000, function() {
                                $(".error-forgot-email").text("");
                                location.reload();
                            });
                        } else {
                            $(".error-forgot-email").text(data.message).animate({
                                width: "auto",
                                color: 'red',
                                "font-weight": "bold"
                            }, 5000, function() {
                                $(".error-forgot-email").text("");
                            });
                        }
                    },
                    error: function (request, status, error) {
                        alert("ERROR");
                    }
                });
            });


            $( "form.form-login" ).submit(function( event ) {
                event.preventDefault();
                var json_data = {
                    'username': $.trim($("input[name='username']").val()),
                    'password':$.trim($("input[name='password']").val()),
                };

                $.ajax({
                    url: "<?php echo $block->getUrl('customer/ajax/login', ['_secure' => true]) ?>",
                    data:JSON.stringify(json_data),
                    showLoader: true,
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(data) {
                        if (data.errors === false) {
                            $("#login-error-message").text(data.message).animate({
                                width: "auto",
                                color: 'gren',
                                "font-weight": "bold"
                            }, 2000, function() {
                                $("#login-error-message").text("");
                            });
                            window.location.href = $.trim($("input[name='redirect_url']").val())
                        } else {
                            $("#login-error-message").text(data.message).animate({
                                width: "auto",
                                color: 'red',
                                "font-weight": "bold"
                            }, 5000, function() {
                                $("#login-error-message").text("");
                            });
                        }
                    },
                    error: function (request, status, error) {
                        alert("ERROR");
                    }
                });
            });

            $( "form.form-create-account" ).submit(function( event ) {
                event.preventDefault();
                var registration_data = {
                    'form_key': $.trim($("input[name='form_key']").val()),
                    'firstname': $.trim($("input[name='first_name']").val()),
                    'lastname': $.trim($("input[name='last_name']").val()),
                    'email': $.trim($("input[name='customer_email']").val()),
                    'password':$.trim($("input[name='customer_password']").val()),
                    'password_confirmation':$.trim($("input[name='password_confirmation']").val())
                };

                if ($("#is-agree").is(":checked") === false) {
                    $("#registration-error-message").text("Select Private Police").animate({
                        width: "auto",
                        color: 'red',
                        "font-weight": "bold"
                    }, 20000, function() {
                        $("#registration-error-message").text("");
                    });
                    return false;
                }

                $.ajax({
                    url: "<?php echo $block->getUrl('popup/ajax/registration', ['_secure' => true]) ?>",
                    data: registration_data,
                    showLoader: true,
                    type: 'POST',
                    success: function(data) {
                        if (data.errors === false) {
                            window.location.href = $.trim($("input[name='redirect_url']").val())
                        } else {
                            $("#registration-error-message").text(data.message).animate({
                                width: "auto",
                                color: 'red',
                                "font-weight": "bold"
                            }, 20000, function() {
                                $("#registration-error-message").text("");
                            });
                        }
                    },
                    error: function (request, status, error) {
                        $("#registration-error-message").text("Please Try Later!").animate({
                            width: "auto",
                            color: 'red',
                            "font-weight": "bold"
                        }, 20000, function() {
                            $("#registration-error-message").text("");
                        });
                    }
                });
            });

            function hide_window(flag) {
                if (flag === 0) {
                    $('.first-step').hide();
                } else if (flag === 1) {
                    $('.second-step').hide();
                }  else if (flag === 2) {
                    $('.registration-step').hide();
                } else if (flag === 3) {
                    $('.forgot-password-step').hide();
                }
            }
        });
    </script>

    <script type="text/javascript">
        require([
            'jquery',
            'Magento_Ui/js/modal/modal'
        ], function($, modal) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                clickableOverlay: false,
                modalClass: 'custom-modal',
                buttons: [],
                keyEventHandlers: {
                    tabKey: function () {
                        this._setFocus('start');
                    },
                    enterKey: function () {

                    },
                    escapeKey: function () {
                        return false;
                    }
                }
            };

            $("#popup-modal").show();
            var popup = modal(options, $('#popup-modal'));
            $(".modal-header").text("");
            $("#popup-modal").modal('openModal');
            $('.modal-inner-wrap').css({
                "width": '400px'
            });
        });
    </script>
<?php endif; ?>